<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/styles/all.css">
  <link rel="stylesheet" href="/public/styles/create.css">
  <link rel="stylesheet" href="/public/styles/edit.css">
</head>

<body>
  <main>

  <ul class="info">
    <li>created: <%= creation_date %>
    </li>
    <li>last update: <%= last_edit_date%>
    </li>
    <li>state: <%= state %>
    </li>
  </ul>

  <form id="create-draft-form" action="" method="" onsubmit="onSubmit(event, <%= id %>)">
    <ul>
      <li>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= title %>" required><br>
      </li>

      <li>
        <label for="subtitle">Subtitle:</label>
        <input type="text" id="subtitle" name="subtitle" value="<%= subtitle %>" required><br>
      </li>

      <li>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required><%= content %></textarea><br><br>
      </li>

      <button type="submit">Edit Blog Post</button>
      <ul>

  </form>

  <script src="/public/js/edit.js">
  </script>
  <main>
</body>

</html>
